.col-lg-5 {
    align-self: center;
    margin-top: 35px;
}
@media screen and (max-width: 991px) {
    .col-lg-5 {
        margin-top: 0;
    }

    .loli {
        display: none;
    }

    .loli_one {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

}